/* Página de inicio */


#bodyIndex {
    display: flex;
    flex-direction: column;
}

header {
    margin-top: 5vh;
    text-align: center;
    font-size: 1.5em;
}

header h1 {
    margin-bottom: 2vh;
}

header img {
    margin: 0 2.5vw;
}

#introNombre {
    background-color: #66469483;
    margin: 5vh 20vw;
    padding: 1em;
    border-radius: 5%;
    font-size: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#introNombre footer {
    margin-top: 0.5em;
    font-size: 0.4em;
    color: #0f0424;
}

#nombre {
    margin-top: 5vh;
    background-color: #0f0424de;
    font-family: 'Play', sans-serif;
    font-size: 1em;
    color: aliceblue;
    border: none;
    box-shadow: 0 0 10px 10px #d667b6b3;
}

#button {
    margin-top: 5vh;
    width: 10vw;
    font-family: 'Play', sans-serif;
    color: aliceblue;
    font-size: 0.5em;
    padding: 0.3em;
    background-color: #0f0424de;
    border: none;
}


#button:hover {
    cursor: pointer;
    box-shadow: 0 0 50px 5px #d667b6b3;
} 




/* Página del juego */

body {
    margin: 0;
    font-family: 'Play', sans-serif;
    color: aliceblue;
    background-image: url(img/fondo.png);
    background-size: cover;   
    display: flex;
    justify-content: center;
}

#reset {
    position: absolute;
    bottom: 5vh;
    right: 2vw;
    
}

#resetButton {
    font-family: 'Play', sans-serif;
    color: aliceblue;
    font-size: 1em;
    padding: 0.3em;
    background-color: #c541a6f9;
    border: none;
    border-radius: 10%;
}

#resetButton:hover {
    cursor: pointer;
    box-shadow: 0 0 20px 5px #0cf7d8;
} 

#areajuego {
    width: 75%;
    margin-top: 5vh;
    display: flex;
    justify-content: space-around;
    padding: 1%;
    background-color: #0a090ada;
}

.opciones {
    width: 15%;
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.opcion {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    margin: 5%;
    background-color: #c541a6e8;
    border-radius: 50%;
    outline: 2px solid #f4e1ff;
}

.opcion img {
    border-radius: 50%;
}

.opcion :hover {
    cursor: pointer;
    background-color: #674694;
    box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.3);
}

.opcionOr {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    margin: 5%;
    background-color: #c541a6e8;
    border-radius: 50%;
    outline: 2px solid #f4e1ff;
}

.opcionElegida {
    background-color: #674694;
    box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.3);
}

#partida {
    /* background-color: blueviolet; */
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#jugador {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}


#ordenador {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

#parametros {
    height: 100%;
    margin: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-size: 3em;
}
#resultado {
    margin-top: -10%;
    font-size: 0.5em;
    visibility: hidden;
}

#vs {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}



